In [0]:
%pyspark

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('trip_count_sql').getOrCreate()
spark

In [1]:
%pyspark

# 데이터가 들어있는 디렉토리 지정
directory = "/home/ubuntu/working/datasource"

trips_files = "trips/*"
zone_file = "taxi+_zone_lookup.csv"

In [2]:
%pyspark

trips_df = spark.read.csv(f"file://{directory}/{trips_files}", inferSchema=True, header=True)
zone_df = spark.read.csv(f"file://{directory}/{zone_file}", inferSchema=True, header=True)

In [3]:
%pyspark

trips_df.printSchema()
zone_df.printSchema()

# DataLake -> Data Warehouse

- 필요한 데이터를 JOIN
- 적절한 전처리 (dataframe을 만들기 위한 과정)
- 필요한 데이터만 걸러내는 과정

In [5]:
%pyspark

trips_df.createOrReplaceTempView("trips")
zone_df.createOrReplaceTempView("zone")

In [6]:
%pyspark

query = """
SELECT * FROM trips
"""
z.show(spark.sql(query))

In [7]:
%pyspark

query = """
SELECT * FROM zone
"""
z.show(spark.sql(query))

In [8]:
%pyspark

# Warehouse 생성 쿼리
query = """
    SELECT
        t.VendorID as vendor_id,
        TO_DATE(t.tpep_pickup_datetime) as pickup_date,
        TO_DATE(t.tpep_dropoff_datetime) as dropoff_date,
        HOUR(t.tpep_pickup_datetime) as pickup_time,
        HOUR(t.tpep_dropoff_datetime) as dropoff_time,
        
        t.passenger_count,
        t.trip_distance,
        t.fare_amount,
        t.tip_amount,
        t.tolls_amount,
        t.total_amount,
        t.payment_type,
        
        pz.Zone as pickup_zone,
        dz.Zone as dropoff_zone
    FROM trips t
    
    LEFT JOIN zone pz ON t.PULocationID = pz.locationID
    LEFT JOIN zone dz ON t.DOLocationID = dz.locationID
"""

comb_df = spark.sql(query)
z.show(comb_df)

# Data Warehouse -> Mart
- Warehouse에서 Mart를 만들기 위해 데이터를 검사 및 정제

In [10]:
%pyspark

comb_df.createOrReplaceTempView("comb")

In [11]:
%pyspark
# 1. 날짜와 시간

query = """
    SELECT
        pickup_date, pickup_time
    FROM comb
    WHERE pickup_time >= 0
    ORDER BY pickup_date
"""

z.show(spark.sql(query))

In [12]:
%pyspark

query = """
SELECT count(*)
FROM comb
WHERE pickup_date < '2021-01-01'
"""

z.show(spark.sql(query))

In [13]:
%pyspark
# 2. 요금 데이터 확인 - 통계 정보 활용

comb_df_describe = comb_df.select("total_amount").describe()
z.show(comb_df_describe)

In [14]:
%pyspark
# 3. 거리 데이터 확인 - 통계 정보

comb_df_distance = comb_df.select('trip_distance').describe()

z.show(comb_df_distance)

In [15]:
%pyspark
# 4. 월별 운행수 확인

query = """
    SELECT
        DATE_TRUNC("MM", pickup_date) as month,
        COUNT(*) as trips
    FROM comb
    GROUP BY month
    ORDER BY month DESC
"""

z.show(spark.sql(query))

In [16]:
%pyspark
# 5. 승객에 대한 통계정보 확인

comb_df_passenger_cnt = comb_df.select("passenger_count").describe()
z.show(comb_df_passenger_cnt)

## Warehouse -> Mart
- 살펴본 내용을 토대로 실제 분석할 데이터로 정제.

In [18]:
%pyspark

# 데이터 정제
query = """

SELECT *
FROM comb c
WHERE c.total_amount < 200
  AND c.total_amount > 0
  AND c.passenger_count < 5
  AND c.pickup_date >= '2021-01-01'
  AND c.pickup_date < '2021-08-01'
  AND c.trip_distance < 10
  AND c.trip_distance > 0
"""
# mart - 데이터 분석 준비 완료
cleaned_df = spark.sql(query)
cleaned_df.createOrReplaceTempView("cleaned")

In [19]:
%pyspark

z.show(cleaned_df.describe())

# EDA

In [21]:
%pyspark
# pickup_date 별 운행수 확인

query = """
    SELECT
        pickup_date,
        COUNT(pickup_date) as trips
    FROM cleaned
    GROUP BY pickup_date
    ORDER BY pickup_date ASC
"""

z.show(spark.sql(query))

In [22]:
%pyspark
# 요일별 운행 수 확인

query = """
    SELECT
        DATE_TRUNC("MM", pickup_date) as month,
        DATE_FORMAT(pickup_date, 'EEEE') as day_of_week,
        COUNT(*) as trips
    FROM cleaned
    GROUP BY month, day_of_week
    ORDER BY month, day_of_week
"""

z.show(spark.sql(query))

In [23]:
%pyspark
# 결제 유형 분석

z.show(cleaned_df.select('payment_type'))

In [24]:
%pyspark

# 숫자인 결제 타입을 문자열로
def parse_payment_type(payment_type):

    payment_type_to_string = {
      1: "Credit Card",
      2: "Cash",
      3: "No Charge",
      4: "Dispute",
      5: "Unknown",
      6: "Voided Trip",
    }

    return payment_type_to_string[payment_type]

In [25]:
%pyspark
spark.udf.register('parse_payment_type', parse_payment_type)

In [26]:
%pyspark

# 결제 타입별 통계

query = """
    SELECT
        parse_payment_type(payment_type) as payment_type_str,
        COUNT(*) as trips,
        MEAN(fare_amount) as mean_fare_amount,
        STD(fare_amount) as std_fare_amount
    FROM cleaned
    GROUP BY payment_type
"""

z.show(spark.sql(query))

In [27]:
%pyspark
spark.stop()

%pyspark

%pyspark

%pyspark